name: Publish Package to npmjs
on:
  release:
    types: [created]

permissions:
  id-token: write  # Required for NPM Trusted Publishing
  contents: read
    
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      # Setup .npmrc file to publish to npm
      - uses: actions/setup-node@v4
        with:
          node-version: '20.x'
          registry-url: 'https://registry.npmjs.org'
      - run: yarn install --frozen-lockfile
      - run: npm publish --access public
